* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2d2727;
  }
  h1{
    text-decoration: underline;
  }
  .container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
    border: 5px solid black;
    /* box-shadow: 4px 2px rgb(172, 83, 83); */

  }
  
  form {
    margin: 2rem 0 1rem 0;
  }
  
  form select,
  button,
  input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
  }
  
  form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
  }
  
  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  
  .dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .select-container img {
    max-width: 2rem;
  }
  
  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
  }
  
  .select-container select {
    font-size: 1rem;
    width: auto;
  }
  
  .msg {
    margin: 2rem 0rem 2rem 4rem;
    font-weight: bold;
    font-size: larger;
  }
  
  form button {
    height: 3rem;
    background-color: #af4f4d;
    color: #ffffff;
    font-size: 1.15rem;
    cursor: pointer;
  }
 
  button:hover
  {
    background-color: rgb(222, 68, 68);

  }